<!--
  Generated template for the HomeworkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home Work</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row class="MPView">
      <ion-col>
        <ion-label class="labelFont">Title :<ion-note> Science Project</ion-note></ion-label>        
      </ion-col>
    </ion-row>
    <ion-row class="MPView">
        <ion-col class="labelFont">
        <ion-label>Description :</ion-label>     
        <ion-note>A science fair experiment is generallya competition where constant present their science project, results in the form of a report, display board, and /or models that they have created. Science fairs allows Students in elementry.</ion-note>   
      </ion-col>
    </ion-row>
    <ion-row class="MPView">
      <ion-col class="labelFont">
        <ion-label>Task :</ion-label>
        <ion-note>Conduct your experiment and report your results.</ion-note>        
      </ion-col>
    </ion-row>
    <ion-row class="MPView">
      <ion-col class="labelFont">
        <ion-label>Start Date :</ion-label>
        <ion-note>2nd Feb 2018</ion-note>        
      </ion-col>
      <ion-col class="labelFont">
        <ion-label>End Date :</ion-label>
        <ion-note>2nd Feb 2018</ion-note>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/pdfimg.png" width="150px" height="200px">       
      </ion-col>
    </ion-row>  
  </ion-grid>

</ion-content>
