
<ion-header>

  <ion-navbar>
    <ion-title>Write To School</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <div padding>    
      <label>Name :</label>  <br>  
      <input type="text" name="name" required class="inputlabel">  
    </div>
    <div padding>    
      <label>Message</label>    <br>
      <textarea name="message" rows="4" cols="100%" required class="inputlabel"> </textarea> 
    </div>
    <div padding>
        <button ion-button style="float: right;background-color: #ff9100">Send</button>
    </div>
  </ion-grid>
</ion-content>
