page-profile{
.imgp{
    height: 90%;
    width: 90%;
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.namelabel{
    text-align: center;
   
}
.labelmargin{
    margin: 10px 5px 0px 5px;
}
.notemargin{
    margin: 1px 5px 10px 5px;
}
.imgsize{
    height: 25px;
    width : 25px;
    margin-top: 7px;
}
.borderbottom{
    border-bottom: 1px solid gray;
}
.listmargin{
    margin: 16px 0 34px;
}
[col-2] {
    padding: 7px;
}

.borderright{
    border-right: 1px solid gray;
}
.list-md .item-block .item-inner {
    border-bottom: none !important;
}
.item-md.item-block .item-inner {
    padding-right: 0px !important; 
    border-bottom: none !important; 
}
.list-ios .item-block .item-inner {
    border-bottom: none !important;
}
}