<ion-header>
  
  <ion-navbar class="bkcolor">
      <ion-grid class="bkcolor">
        <ion-row>


            <ion-col col-10 class="mm">
                <div class="center">
                  <!-- <div class="div-1"> -->
                      <ion-label class="idarafont">Idara MSB</ion-label>
    
                  <!-- </div> -->
                </div>
              </ion-col>


          <ion-col col-2 class="col-1">
  
            <!-- <ion-buttons> -->
              <!-- <button ion-button class="button-inner" > -->
                <ion-icon name="ios-settings" class="backicon" >
                    <ion-select interface="popover" (ionChange)="SelectPage($event)" [(ngModel)]="menu" >
                        <ion-option value="1"><img src="assets/icon/key2.png" width="57" height="35"/>Select Student</ion-option>
                        <ion-option value="2"><ion-icon name="stats"></ion-icon>Change Password</ion-option>
                        <ion-option value="3">LogOut</ion-option>
                         </ion-select>
                          </ion-icon>
              <!-- </button> -->
            <!-- </ion-buttons> -->
  
          </ion-col>
  
  
  
  
        </ion-row>
      </ion-grid>
  
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid  class="gridviewhome">
    <ion-row>

      <ion-col col-6>
        <ion-item (click)="profile()">
          <ion-avatar>
          <img class="img123" src="assets/icon/student.png">
          </ion-avatar>
          <label>Profile</label>
                 
        </ion-item>
      </ion-col>

      <ion-col col-6>
        <ion-item (click)="attendance()">
          <ion-avatar>
          <img class="img123" src="assets/icon/clock.png">
          </ion-avatar>
          <label>Attendance</label>
        
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col col-6>
        <ion-item (click)="homework()">
          <ion-avatar>
            <img class="img123" src="assets/icon/homework.png">
          </ion-avatar>
          <label>Home Work</label>
          
        </ion-item>
      </ion-col>
  
      <ion-col col-6>
        <ion-item (click)="marks()">
          <ion-avatar>
              <img class="img123" src="assets/icon/medal (1).png">
            </ion-avatar>
            <label>Marks</label>                  
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col col-6>
        <ion-item  (click)="buslocation()">
          <ion-avatar>
              <img class="img123" src="assets/icon/placeholder.png">
            </ion-avatar>
            <label>Bus Location</label>
        </ion-item>
      </ion-col>
    
      <ion-col col-6>
        <ion-item (click)="noticeboard()">
          <ion-avatar>
              <img class="img123" src="assets/icon/board.png">
            </ion-avatar>
            <label>Notice Board</label>          
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col col-6>
        <ion-item (click)="writetoschool()">
          <ion-avatar>
              <img class="img123" src="assets/icon/document.png">
            </ion-avatar>
            <label>Write to School</label>
          
        </ion-item>
      </ion-col>
    
      <ion-col col-6>
        <ion-item (click)="annualcalender()">
          <ion-avatar>
            <img class="img123" src="assets/icon/calendar.png">
          </ion-avatar>
          <label>Annual Calender</label>
             
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
