page-events{
    
.cardlayout{
   
    padding: 5px;   
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 1px solid rgb(179, 177, 177);
}
.titlefont{
    font-weight: 500;
    font-size: 18px;
}
.paddingMargin{
    padding: 2px;
    margin: 0px;
}
.contentFont{
    color: gray;
}
.floatRight{
    float: right;
}
}